################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fastds/v15/Browse.VC.opendb
/.vs/fastds/v15/Browse.VC.db
